<div class="form-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
  <!-- Title -->
  <div class="title">
    {{ 'REGISTRATION.TITLE' | translate }}
  </div>
  <!-- Form -->
  <form [formGroup]="registrationForm" (ngSubmit)="register()" fxLayout="column">
    <!-- Name -->
    <mat-form-field>
      <input matInput type="name" placeholder="Name" formControlName="name">
    </mat-form-field>
    <!-- Email -->
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email">
    </mat-form-field>
    <!-- Password -->
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>

    <!-- Actions -->
    <div class="actions-container" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- Submit  -->
      <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
        {{ 'REGISTRATION.SIGNUP' | translate }}
      </button>

      <!-- Registration link -->
      <span>
        {{ 'REGISTRATION.HAVEACCOUNT' | translate}}
        <a routerLink="/login">
          {{ 'REGISTRATION.LOGIN' | translate}}
        </a>
      </span>
    </div>
  </form>
</div>
