<div class="ideas-container">
  <!-- Header -->
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Title -->
    <div class="title">
      {{ 'IDEAS.TITLE' | translate}}
    </div>
    <!-- New idea icon -->
    <div class="new-idea" (click)="addNewIdea()">
      <i class="material-icons">add_circle</i>
    </div>
  </div>

  <!-- Separator -->
  <hr>

  <!-- Ideas Content -->
  <div class="idea-content">
    <!-- NO ideas -->
    <div *ngIf="dataSource && dataSource.data.length === 0" fxLayout="column" fxLayoutAlign="center center">
      <!-- Idea icon -->
      <i class="material-icons">lightbulb_outline</i>
      <div class="title">
        {{ 'IDEAS.GOTIDEAS' | translate }}
      </div>
    </div>

    <!-- With Ideas  -->
    <div class="new-idea-container" *ngIf="dataSource && dataSource.data.length !== 0">
      <mat-table #table [dataSource]="dataSource">
        <!-- Content Column -->
        <ng-container matColumnDef="content">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
            <!-- Edit/New mode -->
          <mat-cell *matCellDef="let element;let i=index;">
            <mat-form-field *ngIf="element.isEdit">
              <input matInput type="text" [(ngModel)]="element.content">
            </mat-form-field>

            <div *ngIf="!element.isEdit">
              {{ element.content }}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Impact Column -->
        <ng-container matColumnDef="impact">
          <mat-header-cell *matHeaderCellDef>
            {{ 'IDEAS.TABLE.IMPACT' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element;let i=index;">
            <mat-select  *ngIf="element.isEdit" [(ngModel)]="element.impact" name="impact">
              <mat-option *ngFor="let number of numbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>

            <!-- Read only mode -->
            <div *ngIf="!element.isEdit">
              {{ element.impact }}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Ease Column -->
        <ng-container matColumnDef="ease">
          <mat-header-cell *matHeaderCellDef>
            {{ 'IDEAS.TABLE.EASE' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element;let i=index;">
            <!-- Edit/New mode -->
            <mat-select *ngIf="element.isEdit" [(ngModel)]="element.ease" name="ease">
              <mat-option *ngFor="let number of numbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>

            <!-- Read only mode -->
            <div *ngIf="!element.isEdit">
              {{ element.ease }}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Confidence Column -->
        <ng-container matColumnDef="confidence">
          <mat-header-cell *matHeaderCellDef>
            {{ 'IDEAS.TABLE.CONFIDENCE' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element;let i=index;">
            <!-- Edit/New mode -->
            <mat-select *ngIf="element.isEdit" [(ngModel)]="element.confidence" name="confidence">
              <mat-option *ngFor="let number of numbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>

            <!-- Read only mode -->
            <div *ngIf="!element.isEdit">
              {{ element.confidence }}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Avg Column -->
        <ng-container matColumnDef="avg">
          <mat-header-cell *matHeaderCellDef>
            {{ 'IDEAS.TABLE.AVG' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element;let i=index;">
            {{ element.average_score.toFixed(2) }}
          </mat-cell>
        </ng-container>

        <!-- Done Column - Edit Column -->
        <ng-container matColumnDef="done">
          <mat-header-cell fxFlex="40px" *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell fxFlex="40px" *matCellDef="let row; let i=index;">
            <!-- Done -->
            <button mat-icon-button [disabled]="row.content.length > 250 || row.content.length == 0" (click)="createNewIdea(row)" mat-icon-button *ngIf="row.isEdit">
              <mat-icon class="done">done</mat-icon>
            </button>

            <!-- Edit -->
            <button (click)="changeStatus(row, true)" mat-icon-button *ngIf="!row.isEdit">
              <mat-icon class="done">create</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Clear Column  - Delete Column-->
        <ng-container matColumnDef="clear">
          <mat-header-cell fxFlex="40px" *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell fxFlex="40px" *matCellDef="let row; let i=index;">
            <!-- Clear -->
            <button mat-icon-button (click)="clearIdea(i, row)" *ngIf="row.isEdit">
              <mat-icon class="clear">clear</mat-icon>
            </button>

            <!-- Delete -->
            <button mat-icon-button *ngIf="!row.isEdit">
              <mat-icon (click)="deleteIdea(row.id)" class="done">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
