@import 'variables';

.ideas-container {
  margin: 40px;

  .header {
    margin-bottom: 30px;

    .title {
      color: $blue;
      font-size: 28px;
    }

    .new-idea i {
      color: $green;
      cursor: pointer;
      font-size: 60px;
    }
  }

  .idea-content {
    & > div {
      height: 500px;
    }

    i {
      font-size: 100px;
      color: $grey;
      margin: 5px;
      margin-bottom: 15px;
    }

    .title {
      font-size: 20px;
      color: $blue;
    }

    .mat-select {
      width: 50px;
      height: 20  px;
      border: 1px solid $grey-light;
      padding: 10px;
      background-image: linear-gradient(-180deg, #F2F2F2 0%, #D4D4D4 100%);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20),
      inset 0 2px 0 0 #FFFFFF;
      border-radius: 3px;
    }

    .new-idea-container {
      .done {
        color: $green;
      }

      .mat-icon-button[disabled][disabled] mat-icon {
        color: $grey !important;
      }

      .mat-header-row,
      .mat-row {
        border-bottom-style: none;
        border-bottom-width: 0;
      }

      .mat-header-cell {
        font-size: 14px;
        color: $blue;
      }
    }
  }
}
