@import 'variables';

:host {
  background-color: $green;
  width: 200px;
  padding: 50px 0;
}

.logo-container {
  margin: 0 20px;

  .title {
    margin-top: 10px;
    font-size: 16px;
    color: $white;
  }

  .circle {
    border-radius: 50%;
    background-color: $white;
    width: 64px;
    height: 64px;

    i {
      font-size: 50px;
      color: $green;
      margin: 5px;
    }
  }
}

.profile-container {
  hr {
    width: 100%;
    margin: 41px 0 37px;
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .name {
    margin-top: 6px;
    font-size: 20px;
    color: $white;
  }

  .logout {
    margin-top: 9px;
    font-size: 16px;
    color: $blue;
    cursor: pointer;
  }
}
