<div>
  <!-- Logo -->
  <div class="logo-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="circle" fxLayout="row" fxLayoutAlign="center">
      <!-- Idea icon -->
      <i class="material-icons">lightbulb_outline</i>
    </div>
    <!-- Title -->
    <div class="title">
      {{ 'SIDEBAR.TITLE' | translate }}
    </div>
    <!-- User Profile - LoggedIn Section -->
    <div *ngIf="isLoggedIn() && currentUser" fxLayout="column" fxLayoutAlign="center center" class="profile-container">
      <hr>
      <!-- Gravatar image -->
      <img alt="avatar" [src]="currentUser.avatar_url">
      <!-- Name -->
      <div class="name">{{ currentUser.name }}</div>
      <!-- Logout Action -->
      <div class="logout" (click)="logout()">
        {{ 'SIDEBAR.LOGOUT' | translate }}
      </div>
    </div>
  </div>
</div>
